{% extends '@common/Content/Page.twig' %}

{% import '@macro/Card/CardBackground.twig' as CardBackground %}
{% import '@macro/Card/CardBorder.twig' as CardBorder %}


{% use '@common/Header/Navbar.twig' %}
{% use '@common/Footer/Footer.twig' %}

{% block header_navbar_name %}{{ meta.title }}{% endblock %}

{% block content %}

    <h1>Welcome!</h1>

{% endblock %}

{% block side_right %}
{% endblock %}
