{% extends '@template/Content/PageHome.twig' %}

{% import '@template/Macro/Card/CardBackground.twig' as CardBackground %}
{% import '@template/Macro/Card/CardBorder.twig' as CardBorder %}


{% use '@template/Header/Navbar.twig' %}
{% use '@template/Footer/Footer.twig' %}

{% block header_navbar_name %}{{ meta.title }}{% endblock %}

{% block content %}

    <h1>Welcome!</h1>

{% endblock %}

{% block side_right %}
{% endblock %}
