{% extends '@template/Content/PageHome.twig' %}

{% use '@template/Header/Navbar.twig' %}
{% use '@template/Footer/Footer.twig' %}

{% block header_navbar_name %}{{ meta.title }}{% endblock %}

{% block content %}

    <h1>Page Not Found (404)!</h1>

{% endblock %}

{% block side_right %}
{% endblock %}
